@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

p {
  font-size: 14pt;
}

* {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

@layer components {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.carousel-container {
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .cancel-carousel {
    animation: none !important;
    width: fit-content !important;
  }
}

.carousel-inner {
  animation: scroll 25s linear infinite; /* Adjust timing for speed */
  width: max-content;
  display: flex;
}
.r-carousel-inner {
  animation: rscroll 25s linear infinite; /* Adjust timing for speed */
  width: max-content;
  display: flex;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%); /* Adjust based on duplication */
  }
}

@keyframes rscroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%); /* Adjust based on duplication */
  }
}

.carousel-item {
  flex: 0 0 auto;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
